.jumbotron {
  background-image: url("../img/background.jpg");
  background-size: contain;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#gump {
  text-align: center;
}
